body {
  font-family: sans-serif;
  margin: 2rem;
}

input[type="text"] {
  width: 50px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

#outputScoreId,
#scoreId {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

th {
  background-color: #ddd;
  font-weight: bold;
}
